# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
LearnOpenGL/x64/Debug/*.lib
LearnOpenGL/x64/Release/*.lib
LearnOpenGL/x64/Debug/*.obj
LearnOpenGL/x64/Release/*.obj

# Executables
*.exe
*.out
*.app
.vs/LearnOpenGL/v15/Browse.VC.db
.vs/LearnOpenGL/v15/Browse.VC.opendb
*.tlog
*.idb
LearnOpenGL/main.cpp.PVS-Studio.cmd
*.ipch
*.pdb
*.log
.vs/LearnOpenGL/v15/.suo
*.iobj
*.ilk
*.ipdb
.vs/Engine/v15/Browse.VC.db
.vs/Engine/v15/Solution.VC.db
*.opendb
.vs/Engine/v15/.suo
.vs/Engine/v15/Solution.VC.db-shm
.vs/Engine/v15/Solution.VC.db-wal
src/Jellyfish_Renderer/Jellyfish_Renderer/x64/Release/RenderMain.obj
src/Jellyfish_Renderer/Jellyfish_Renderer/x64/Release/RenderMain.obj
src/Jellyfish_Renderer/Jellyfish_Renderer/x64/Release/RenderMain.obj
.vs/Engine/v15/.suo
src/Jellyfish_Renderer/Jellyfish_Renderer/x64/Release/RenderMain.obj
.vs/Engine/v15/.suo
src/Jellyfish_Renderer/Build/x64/Debug/Jellyfish.lib
src/Jellyfish_Renderer/Jellyfish_Renderer/x64/Debug/RenderMain.obj
.vs/Engine/v15/.suo
.vs/Engine/v15/.suo
src/Jellyfish_Renderer/Jellyfish_Renderer/x64/Debug/GLWindow.obj
Dependencies/lib/Debug/Jellyfish.lib
Dependencies/lib/Debug/REST API.lib
Dependencies/lib/Debug/Engine.lib
Dependencies/lib/Debug/Engine.lib
Dependencies/lib/Debug/Jellyfish.lib
REST API/x64/Debug/RESTAPI.obj
RESTfulRuntime/x64/Debug/main.obj
src/Jellyfish_Renderer/Jellyfish_Renderer/Debug/RenderMain.obj
src/Jellyfish_Renderer/Jellyfish_Renderer/x64/Debug/glwindow.obj.enc
src/Jellyfish_Renderer/Jellyfish_Renderer/x64/Release/RenderMain.obj
