# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/LearnOpenGL/v15/Browse.VC.db
.vs/LearnOpenGL/v15/Browse.VC.opendb
*.tlog
*.idb
LearnOpenGL/main.cpp.PVS-Studio.cmd
*.ipch
*.pdb
*.log
.vs/LearnOpenGL/v15/.suo
*.iobj
*.ilk
*.ipdb
.vs/Engine/v15/Browse.VC.db
.vs/Engine/v15/Solution.VC.db
*.opendb
