# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib


# Executables
*.exe
*.out
*.app
bin/artifacts/*
*.tlog
*.idb
*.ipch
*.pdb
*.log
.vs/*
*.iobj
*.ilk
*.ipdb
*.opendb
